    .container {
        margin: 0 auto;
        width: 100%;
        background: white;
        border-radius: 5px;
    }
    
    .connected-header {
        color: black;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    
    .people-list {
        width: 30%;
        float: left;
    }
    
    .search {
        padding: 20px;
    }
    
    input {
        border-radius: 3px;
        border: none;
        padding: 14px;
        color: white;
        background: #6A6C75;
        width: 90%;
        font-size: 14px;
    }
    
    .fa-search {
        position: relative;
        left: -25px;
    }
    
    ul {
        padding: 20px;
    }
    
    li {
        padding-bottom: 20px;
    }
    
    img {
        float: left;
    }
    
    .about {
        float: left;
        margin-top: 8px;
    }
    
    .about {
        padding-left: 8px;
    }
    
    .status {
        color: gray;
    }
    
    .chat {
        width: 70%;
        float: right;
        background: #F2F5F8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #434651;
    }
    
    .chat-header {
        padding: 10px;
        border-bottom: 2px solid white;
    }
    
    img {
        float: left;
    }
    
    .chat-about {
        float: left;
        padding-left: 10px;
        margin-top: 6px;
    }
    
    .chat-with {
        font-weight: bold;
        font-size: 16px;
    }
    
    .chat-num-messages {
        color: gray;
        position: absolute
    }
    
    .fa-star {
        float: right;
        color: #D8DADF;
        font-size: 20px;
        margin-top: 12px;
    }
    
    .chat-history {
        border-bottom: 2px solid white;
        overflow-y: auto;
        /* height: 170px; */
        height: calc(100vh - 420px)
    }
    
    .chat-message {
        padding: 30px;
    }
    
    .chat-selection-header {
        color: rgb(82, 82, 82);
        margin: 10px;
        font-size: 14px;
    }
    
    textarea {
        width: 100%;
        border: none;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;
    }
    
    .fa-file-o,
    .fa-file-image-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;
    }
    
    .online,
    .offline,
    .me {
        margin-right: 3px;
        font-size: 10px;
    }
    
    .online {
        color: blue;
    }
    
    .offline {
        color: orange;
    }
    
    .me {
        color: #aa4985;
    }
    
    .align-left {
        text-align: left;
    }
    
    .align-right {
        text-align: right;
    }
    
    .float-right {
        float: right;
    }
    
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    
    .logo-image {
        margin-top: -10px;
        margin-right: -4px;
    }
    
    .small-image {
        width: 100px;
        height: auto;
    }
    
    .request-header {
        position: absolute;
        right: 0;
        margin-right: 14px;
    }
    
    .reveal-button {
        position: absolute;
        right: 8px;
        margin-top: 40px;
        font-size: 12px;
        width: 140px;
        /* margin-top: 50px; */
        float: right;
        color: white;
        padding: 10px;
        background: darkblue;
        font-size: 14px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;
    }
    
    .name {
        margin-top: 0px;
        font-size: 16px;
        margin-bottom: 0px;
    }
    
    .age {
        margin-top: 0px;
        font-size: 12px;
    }
    
    .reveal-date {
        float: right;
        font-size: 15px;
        width: 200px;
    }
    
    .reveal-button:hover {
        background: rgb(24, 24, 163);
    }
    
    .connection-list {
        overflow: auto;
        list-style: none;
        height: 297px;
        padding-top: 0px;
        margin-bottom: 0px;
    }
    
    .connection-profile {
        padding-bottom: 0px;
        border-radius: 10px;
    }
    
    .connection-profile:hover {
        background-color: lightsteelblue;
        cursor: pointer;
    }
    
    .connection-image {
        padding: 3px;
        height: 100px;
        width: 100px;
    }
    
    .chat-message-list {
        list-style: none;
    }
    
    .selectedItem {
        border: solid lightsteelblue;
    }
    
    @media (max-width: 700px) {
        .chat-selection-header {
            width: 96%;
            font-size: 16px;
        }
        .people-list {
            width: 100%;
            /* overflow: auto;
            white-space: nowrap; */
        }
        .connection-list {
            overflow: auto;
            white-space: nowrap;
            height: unset;
        }
        .people-list li {
            display: inline-block;
            width: 250px;
        }
        .chat {
            width: 100%;
            background: #F2F5F8;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            color: #434651;
        }
        .logo-main-text,
        .my-quik {
            display: none;
        }
    }