.potentialName {
    margin-bottom: 0px;
}

.potentialAge {
    margin-top: 0px;
    margin-bottom: 30px;
}

.result-img {
    float: left;
    padding-right: 8px;
    height: 150px;
    min-width: 159px;
}

.result-container {
    display: flex;
    clear: both;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

.result-box {
    /* display: inline; */
    float: left;
    width: 100%;
}

.profile-link {
    color: rgb(104, 149, 209);
    margin-top: -53px;
    font-size: 12px;
    float: right;
    margin-right: 6px;
}

.like-button {
    margin-top: 6px;
    height: 34px;
    width: auto;
    margin-right: 20px;
    cursor: pointer;
}